
<div id="<%= dom_id post %>" class="post54">
    <div class= "postcomponent1">
        <div class="rightcomponent5 ">
          <%= image_tag "userimage.png"%>
          <strong>UserName</strong>
          <h6>Follow </h6>
        </div>
    </div>
    <div class="postcomponent">
     <p>
       <%= post.caption %>
     </p>
     <%= image_tag post.image_url if post.image %>
     
    </div>
    
    
    
</div>
